/*--------------------------------------------Navigation Bar Part------------------------*/
*{
    margin: 0;
    padding: 0;
}
body{
     height:90%;
    width:100%;
}
.nav{
height:2.5em;
width: 100%;
background:#2c3e50;
position: relative;
justify-content: space-between;

}
.nav img{
    position: absolute;
margin-left: 6px;

}
.nav img:hover{
    border: 1px solid black;
    border-radius: 5px;
    border-bottom: none;
    background: red;
}
.nav ul{
    position: absolute;
    left:70%;
    margin-top: 10px;
    list-style-type: none;
   

}

.nav ul li{
    display: inline;
    margin: 25px;
    
}

.nav ul li a{
    text-decoration: none;
    color:white;
    font-size: larger;
   border: 1px solid white;
    border-top: none;
    border-bottom: none;
    border-radius: 2px;
   
}
.nav ul li a:hover{
    color: red;
}


/*--------------------------------------------About Part------------------------*/
section#about{
    height: 200px;
    width: 100%;
    position: absolute;
    top:500px;
    left:200px;
}
#about h3{
    color:blue;
    font-size: 3.5em;
}
#about p{
    color:gray;
    font-size: 1.2em;
}
.card{
    position: absolute;
    top:300px;
    left:300px;
    color: gray;
    font-size: 0.9em;
    font-family: fantasy;
}
.card h5{
    font-size: 1.5em;
    font-family: monospace;
    color:orange;
    text-align: center;
}
.card:hover{
    border:2px dashed red;
    transform:scaleZ(30deg);
}





/*--------------------------------------------Footer Part------------------------*/



footer{
    height:21em;
width: 100%;
background:#2c3e50;
position: relative;
top:400px;
}
footer img:nth-child(1){
    position:absolute;
    left:1211px;
    top:98px;
}
.part1{
    position: absolute;
    top:100px;
    left:200px;
    color: darkcyan;
}
.part2{
    position: absolute;
    top:100px;
    right:500px;
    color: white;
}
.part2 ul{
    list-style-type: none;  
 margin: 2px;
}
.part2 ul li{
       margin: 5px;
}
.part2 ul li a {
    text-decoration: none;
    color:pink;
  
}

.footer2{
    position: absolute;
    background-color: #2980b9;
    height: 3em;
    width: 100%;
    top:330px;
    font-size: large;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer2 p {
    margin-top: 12px;
}