/*--------------------------------------------Navigation Bar Part------------------------*/
*{
    margin: 0;
    padding: 0;
}
body{
     height:auto;
    width:100%;
}
.nav{
height:2.5em;
width: 100%;
background:#2c3e50;
position: relative;
justify-content: space-between;

}
.nav img{
    position: absolute;
margin-left: 6px;

}
.nav img:hover{
    border: 1px solid black;
    border-radius: 5px;
    border-bottom: none;
    background: red;
}
.nav ul{
    position: absolute;
    left:70%;
    margin-top: 10px;
    list-style-type: none;
   

}

.nav ul li{
    display: inline;
    margin: 25px;
    
}

.nav ul li a{
    text-decoration: none;
    color:white;
    font-size: larger;
   border: 1px solid white;
    border-top: none;
    border-bottom: none;
    border-radius: 2px;
   
}
.nav ul li a:hover{
    color: red;
}

/*-------------------------------content-------------------*/

.content{
    height:50em;
    
}
.content .rest{
    width:65%;
    float: left;
    margin: 5px;
}
.rest p{
    font-size: 20px;
    color:grey;
    font-family: fantasy;
    width:1450px;
    text-align: center;
}

aside{
width:20%;
position: relative;
float: right;
background-image: url(img/black\ lives.jpg);
background-size: cover;
height: 44em;
margin: 8px;
}

.ref-b{
    width:300px;
    height:100px;
    position: absolute;
top:93%;
left:25%;
}
.ref-b ul{
    list-style-type: none;
}
.ref-b ul li{
    margin: 10px;
    display:inline;
    font-size: 3em;
}
.ref-b ul li a{
    text-decoration: none;
}

@media only screen and (max-width:1200px){
.nav{
    background: blue;
}

}












/*--------------------------------------------Footer Part------------------------*/

footer{
    height:21em;
width: 100%;
background:#2c3e50;
position: relative;
top:50px;
}
footer img:nth-child(1){
    position:absolute;
    left:1211px;
    top:98px;
}
.part1{
    position: absolute;
    top:100px;
    left:200px;
    color: darkcyan;
}
.part2{
    position: absolute;
    top:100px;
    right:500px;
    color: white;
}
.part2 ul{
    list-style-type: none;  
 margin: 2px;
}
.part2 ul li{
       margin: 5px;
}
.part2 ul li a {
    text-decoration: none;
    color:pink;
  
}

.footer2{
    position: absolute;
    background-color: #2980b9;
    height: 3em;
    width: 100%;
    top:330px;
    font-size: large;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer2 p {
    margin-top: 12px;
}